footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #b0b6d8;
  display: block;
}

#article.container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.gallery img {
  max-width: 200px;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
}

.gallery a {
  text-decoration: none;
  outline: 0;
}
.gallery a:hover {
  text-decoration: none;
}
.gallery a:visited {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .gallery img {
    max-width: 100%;
  }
}

nav {
  background-color: #b0b6d8;
}
