@import url("/fonts/stylesheet.css") media-types;

body {
  font-family: Miller, serif;
  font-weight: bold;
}

h3 {
  font-family: "Courier New", sans-serif;
}
p, label, textarea, button, input {
  font-family: "Courier New", sans-serif;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #b0b6d8;
  display: block;
}

#article.container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.gallery img {
  max-width: 200px;
  cursor: pointer;
  border-radius: 5px;
}

.gallery a {
  text-decoration: none;
  outline: 0;
}
.gallery a:hover {
  text-decoration: none;
}
.gallery a:visited {
  text-decoration: none;
}
.gallery-img-container {
  display: inline-block;
  position: relative;
  margin-right: 20px;
  margin-bottom: 10px;
}

.gallery-text {
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.5);
  /* text-align: center; */
}
.gallery-text span {
  display: block;
  color: #fff;
  margin-left: 15px;
  margin-bottom: 5px;
  font-family: "Courier New", sans-serif;
}
.gallery-text span.title {
  text-transform: uppercase;
  margin-top: 10px;
}
.gallery-text:hover {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .gallery img {
    max-width: 100%;
  }
}

nav {
  background-color: #b0b6d8;
}
